/neuroConstruct/generatedNeuroML2/CA1.hoc
/neuroConstruct/cellMechanisms/kad/KChannel_output.xml
*.mod
*nrn.py
/neuroConstruct/generatedNeuroML/README
neuroConstruct/ggg
*~
*.svg
*.pyc
*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
