/neuroConstruct/generatedNeuroML2/SomaOnly_allCml.hoc
neuroConstruct/gennnml2
/neuroConstruct/generatedNeuroML2/CG_CML_0.0.dat
/neuroConstruct/generatedNeuroML2/simulator.props
/neuroConstruct/generatedNeuroML2/time.dat
/neuroConstruct/generatedNeuroML2/L
/neuroConstruct/generatedNeuroML2/runsim.sh
/neuroConstruct/generatedNeuroML2/CA1.hoc
/neuroConstruct/cellMechanisms/kad/KChannel_output.xml
*.mod
*nrn.py
/neuroConstruct/generatedNeuroML/README
neuroConstruct/ggg
*~
*.svg
*.pyc
*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class

/neuroConstruct/generatedNeuroML2/LEMS_Test*
/neuroConstruct/generatedNeuroML2/html
